html{
    overflow-x: hidden; /* Hides horizontal scrollbar if content is slightly too wide */
    /* aided with ensuring the body and header aligned with windows borders and
    there was a right-sided gap that revealed the underlying hear image.*/
}


.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    background-color: lightslategray;
    background-position: center center;
    flex-direction: column;
    background-image: url("/imgs/HeartofKYWebLogo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-wrap: wrap;
    transform:translate3d(0,0,0);
    background-attachment: fixed;
    box-sizing: border-box;
    /* width: 600px; */
    width: 100%; /* Default to full width */
    overflow-x: hidden; /* Hides horizontal scrollbar if content is slightly too wide */
    min-height: 100vh; /* Ensures the body is at least as tall as the window, but grows with content */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Essential for predictable sizing */
    background-blend-mode: multiply;
}

body *
{
    border:1px solid transparent; 
}

.logo{
    display:none;
    opacity: 0%;
}

html{
    font-size: 20pt;
    line-height: 2;
    font-family: Verdana;
}
header{
    display: block;
    width: 100%;
    padding-bottom:200px;
    

}

h1.title{
    display: flex;
    color: white;
    justify-content: center;
    text-wrap: wrap;
    font-size: 40pt;
    padding-top:200px;
    text-align: center;
    /* width:475px; */
}



h1{
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}


nav{
    background-color: rgb(30, 35, 70);
    display: flex;
    position: fixed;
    top:0px;
    left: 0px;
    text-align: right;
    width: 100%;
    justify-content: end;

        /* position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none; */

}

/*
links for navigation bar are white
*/
nav a{
    color: white;
    text-decoration: underline;
}


nav li{
    display: table;
    padding-left:16px;
    padding-right:10px;
}

/******Home pg note at start******/
div#inspiration{
    display: flex; 
    justify-content: center;
}
div#inspiration p{
    color:rgb(133, 60, 60);
    font-weight: bold;
    text-align: center;
    width: 500px;
}
/**********************************/

/*<p> alignment/color*/
p{
    color: rgb(30, 35, 70);
    text-align: left;
    font-weight: lighter;
    font-size: 20pt;
    line-height: 1.5;

}

/*links within <p>*/
p a{
    color: rgb(30, 35, 70);
}
ul{
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

aside{
    display: flex;
    padding-top:1.5rem;
    background-color:rgb(160, 200, 225);
    justify-content: center;
}

/*Logo for fb*/
a.social:first-child{
    display: flex;
    background-color: #3585ed;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin:2px;
}
/*Logo for insta*/
a.social:last-child{
    display: flex;
    text-align: center;
    background-color: #f8448f;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin:2px;
}

div#inspiration p
{
color: rgb(83, 30, 1);
/* -webkit-text-stroke-width: 1px ;
-webkit-text-stroke-color: #eea175 ; */
width:50%;
font-size: 24pt;
line-height: 1.5;
font-family:Georgia, 'Times New Roman', Times, serif;
/* Font is actually Raleway on main site */
font-weight: 600;
font-style: normal;
}

img 
{
border-radius: 20px;
border:3px solid rgb(133, 177, 205);

}

main{
    display: flex;
    flex-direction: column;
    color: rgb(30, 35, 70);
    font-family:Verdana;
     line-height: 2;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    background-color: rgb(160, 200, 225);
    text-align: center;
    flex-wrap: wrap;
}

#funding
{
align-self: center;
width: 90%;
background-color: rgb(247, 192, 157);
border-radius: 20px;
border:4px dotted white;



}
#funding h2
{
    color:rgb(133, 60, 60);
   text-align: center;

}


#mission
{
    background-color: #8795c5;
    border-radius: 20px;
    border:4px dotted rgb(0, 0, 0);
    width: 40%;
    align-self: center;

}
#mission p{ text-align: center;}

#mission h2{color: rgb(18, 20, 40);
text-align: center;
text-decoration: underline;}
/* main *{
    
    text-align: center;
} */

/*Realigning headers of subsections/body to be left and adjust font size.*/
h2{
    color:rgb(0, 0, 0);
    text-align: left;
    line-height: 1.5;
    font-size: 24pt;
}
div{
        color:black;

}

/*Activies page - Note <p> below Dolly's section*/
#activities section#programs, #support section#newParents{
    background-color: rgb(146, 191, 220);
    border-radius: 50px;
}
#activities section#AtHome,  #support section#theraphy{
    background-color: rgb(128, 175, 206);
    border-radius: 50px;
}
#activities section#kids-and-parents,  #support section#caregivers{
    background-color: rgb(114, 156, 184);
    border-radius: 50px;
}
#activities section#kidAdventues{
    background-color: rgb(98, 155, 193);
    border-radius: 50px;
}

#home section#members h2{
    font-size: 55pt;
}
.note{
    text-align: left;
    font-size: 30px;
    color: rgb(30, 35, 70);
    
}

.imgdiv img{
    width: 300px;    
    height: auto; /* Maintains aspect ratio */

}


.imggroup.long{
    color: rgb(30, 35, 70);
    text-align: left;
    width: 600px;
}
/*Controls the aesthetics of all links in specific pages only*/
#childcare .links a, 
#support .links a, 
#activities .links a,
#preschool .links a
{ 
    display:block;
    background-color: rgb(80, 67, 140);
    color: rgb(255, 235, 209);
    border-color: black;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
    padding: 15px;
    width: 250px;
    box-shadow: inset 1px 1px 0;
    text-decoration: underline;
    text-align: center;
}
.links{
    display: flex;
    justify-content: center;
}

/*targets all img but not vids*/
.imgdiv img
{
    display: flex;
    background-color: lightgrey;
}

div.imgwrapper{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 200%;
   

}
div.video iframe
{
    width: 600px;
    height: 400px;
}

div.imgdiv{
    display: flex;
    justify-content: center;

}    

#dolly{
    gap:10px;
}


div.imgwrapper div.links ul 
{

    display: inline-block;
    text-decoration: none;
}

div li 
{   
    display: flex;
    text-decoration: none;
    padding-bottom:10px;
}

 #programs
{
    display: flex;
    flex-direction: column;
    gap:50px;
    text-align: left;
}

.imggroup.short{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 500px;

}

#kids-and-parents
{
    display: table;
    gap:50px;
    text-align: center;
    color: rgb(30, 35, 70);
}

#kidAdventures{
    display: flex;   
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;

}

/*home pg*/
section#mission p:last-child{
    text-align: center;
    color: rgb(30, 35, 70);
    font-weight: bold;
}
section{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

section#funding{
    text-align: left;
    font-weight: lighter;
}
section#funding p:last-child, 
section#funding p:nth-last-child(2), 
section#funding p:nth-last-child(5){
    margin-top: 0px;
    font-weight: bold;
}
section#funding p:nth-last-child(2)
{
    margin-bottom: 0px;
}

h3, address{
    font-weight: lighter;
    color: rgb(30, 35, 70);
    font-style: normal;
    font-size: 22px;
    margin-bottom: 0px;
}

/**** CHILDCARE PAGE ******/
#childcare div h2{
    background-color: lightslategray;
    border-radius: 20px;;
    background-image: url("/Phase2/imgs/heart3.png");
    background-color: #cccccc; /* Fallback color */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Parallax effect */
    text-align: center;
    color: darkred;
    background-blend-mode: soft-light;
}
#home div#inspiration p{
    display: flex;
    align-items: center;
    background-image: url("/Phase2/imgs/hpyKids.jpeg");
    border-bottom: 10px dotted darkslateblue;
    background-color: #cccccc; /* Fallback color */
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    width: 100%;
    background-attachment: fixed; /* Parallax effect */
    text-align: center;
    font-family:sans-serif;
    color: darkblue;
    justify-content: center;
}

div#headStartPre.imggroup.short, 
div#Boyle.imggroup.short,
div#Burgin.imggroup.short,
div#Danville.imggroup.short,
div#Mercer.imggroup.short{
    background-color: rgb(189, 189, 255);
        border: 10px outset rgb(105, 105, 171);
}

div#KYHands.imggroup.short,
div#Haven.imggroup.short,
div#Ephraim.imggroup.short,
div#firststeps.imggroup.short,
div#KidsCanDo.imggroup.short,
div#HeadStart.imggroup.short,
div#vips.imggroup.short,
div#KCDHH.imggroup.short,
div#KYACA.imggroup.short,
div#KYSpin.imggroup.short,
div#OSCHCN.imggroup.short,
div#MOPS.imggroup.short
{
    background-color: rgb(232, 165, 165);
    border: 10px outset rgb(171, 105, 105);

}
#concerns h2, #preschool h2, #support h2{
   font-size: 40pt;
}
#concerns p{
    font-size: 30pt;;
}
#childcare.h2
{
   font-size: 20pt;
}
#childcare li a
{
    justify-content: center;
}

#childcare div.imgwrapper
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2.5%;
    padding-right: 2.5%;
    justify-content: left;
}

#whyChildcare 
{
display: flex;
width:100%;
gap: 20px;
align-items: center;
}

#choseChildcare 
{
display: flex;
width:100%;
gap: 20px;
align-items: center;
}

#childcareBenefits 

{
display: flex;
width:100%;
gap: 20px;
align-items: center;
}
/**********END CHILDCARE PAGE**********************/

/******** ConcernsPageWork ********/
/* This controls that list under the What do i do caption */

body#concerns{
    font-size: 20pt;
    line-height: 1.5;

}
body#concerns main section ul
{
    display: flex;
    flex-direction: column;
    /* background-color: #fe005c; */
    text-align: left;
    text-wrap: wrap;
    list-style: square;
    color: rgb(30, 35, 70);
    font-weight: lighter;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

body#concerns main section p:nth-last-child(1) {
    font-weight: bold;
    padding: 0 10px; /* Space between content and line */
    border-bottom: 2px solid lightgrey; /* The divider line */

}
body#concerns main section ul a{
    color: rgb(30, 35, 70);
    font-size: 20pt;

}
body#concerns main section p:nth-last-child(1) strong{
    font-weight: normal;
}
section#AddressConcerns div#age03.imggroup.long div p{
    font-weight: normal;}

section#AddressConcerns img{
    width: 100%
}
section#AddressConcerns h2{
    color: rgb(30, 35, 70);
    width: 28%;
    text-align: center;
}
section#AddressConcerns a{
    display:flex;
    justify-content: center;
}
section#AddressConcerns div.phone a{
    color: rgb(30, 35, 70);
    font-size: 20pt;
    text-decoration: none;
}
section#AddressConcerns div p{
    font-size: 20pt;
    text-align: center;
}
section#AddressConcerns div.phone{
    display: flex;
    gap:10px;
    font-size: 20pt;
    justify-content: center;
    font-weight: normal;
}
section#AddressConcerns{
    margin-bottom:24px;
}
/*************************************/

/***************Preschool*************/

body#preschool .imggroup.short p{
    text-align: center;
}
body#preschool .imggroup.short .links a{
    font-weight: normal;

}
body#preschool .imggroup.short div.phone a{
    color: rgb(30, 35, 70);
    text-decoration: none;
    font-weight: normal;
}
/************End of Pre-S pg************/