html{
    overflow-x: hidden; /* Hides horizontal scrollbar if content is slightly too wide */
    /* aided with ensuring the body and header aligned with windows borders and
    there was a right-sided gap that revealed the underlying hear image.*/
}
body{
    display: flex;
    background-color: white;
    background-position: center center;
    flex-direction: column;
    background-image: url("/imgs/HeartofKYWebLogo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-wrap: wrap;
    transform:translate3d(0,0,0);
    background-attachment: fixed;
    box-sizing: border-box;
    /* width: 600px; */
        width: 100%; /* Default to full width */
    overflow-x: hidden; /* Hides horizontal scrollbar if content is slightly too wide */
    min-height: 100vh; /* Ensures the body is at least as tall as the window, but grows with content */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Essential for predictable sizing */
}

body *
{
    border:1px solid transparent; 
}

.logo{
    display:none;
    opacity: 0%;
}

html{
    font-size: 16pt;
    font-family: sans-serif;
}
header{
    display: block;
    width: 100%;
    padding-bottom:200px;

}

h1.title{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 40pt;
    padding-top:200px;
}
h1{
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

nav{
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    position: fixed;
    top:0px;
    left: 0px;
    text-align: right;
    width: 100%;
    justify-content: end;
}


/*
links for navigation bar are white
*/
nav a{
    color: white;
    text-decoration: none;
}


nav li{
    display: table;
    padding-left:16px;
    padding-right:10px;
}

/******Home pg note at start******/
div#inspiration{
    display: flex; 
    justify-content: center;
}
div#inspiration p{
    color: rgba(0, 114, 153, 1);
    font-weight: bold;
    text-align: center;
    width: 500px;
}
/**********************************/

/*<p> alignment/color*/
p{
    color: black;
    text-align: left;
    font-weight: lighter;
    font-size: 22.0pt;
    line-height: 1.5;

}

/*links within <p>*/
p a{
    color: rgba(0, 114, 153, 1);
}
ul{
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

aside{
    display: flex;
    padding-top:1.5rem;
    background-color: white;
    justify-content: center;
}

/*Logo for fb*/
a.social:first-child{
    display: flex;
    background-color: #1877f2;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin:2px;
}
/*Logo for insta*/
a.social:last-child{
    display: flex;
    background-color: #fe005c;;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin:2px;
}

main{
    display: flex;
    flex-direction: column;
    color:rgba(0, 114, 153, 1);
    font-family: sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    background-color: white;
    text-align: center;
    flex-wrap: wrap;
}



/* main *{
    
    text-align: center;
} */

/*Realigning headers of subsections/body to be left and adjust font size.*/
h2{
    color:rgba(0, 114, 153, 1);
    text-align: left;
    line-height: 1.5;
    font-size: 20;
}
div{
        color:black;

}

/*Activies page - Note <p> below Dolly's section*/
.note{
    text-align: left;
    font-size: 22px;
    color: rgba(0, 114, 153, 1);
}

.imgdiv img{
    width: 300px;    
    height: auto; /* Maintains aspect ratio */

}


.imggroup.long{
    color: black;
    text-align: left;
    width: 600px;
}
/*Controls the aesthetics of all links*/
.links a{ 
    display:block;
    background-color: rgba(0, 114, 153, 1);
    color: rgba(249, 249, 249, 1);
    border-color: rgba(0, 114, 153, 1);
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
    padding: 15px;
    width: 250px;
    box-shadow: inset 1px 1px 0;
    text-decoration: none;
}
.links{
    display: flex;
    justify-content: center;
}

/*targets all img but not vids*/
.imgdiv
{
    /* background-color: red; */
    display: flex;
    
}

div.imgwrapper{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap:100px;
    max-width: 200%;
   

}
div.video iframe
{
    width: 600px;
    height: 400px;
}

div.imgdiv{
    display: flex;
    justify-content: center;

}    

#dolly{
    gap:10px;
}


div.imgwrapper div.links ul 
{

    display: inline-block;
    text-decoration: none;
}

div li 
{   
    display: flex;
    text-decoration: none;
    padding-bottom:10px;
}

 #programs
{
    display: flex;
    flex-direction: column;
    gap:50px;
    text-align: left;
}

/* 
#ready4k{
    width:40%
}

#Dolly{
    width:40%
} */

.imggroup.short{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* background-color: maroon; */
    width: 500px;

}

#kids-and-parents
{
    display: table;
    gap:50px;
    text-align: center;
    color:black;
    /* background-color: wheat ; */
}



#kidAdventures{
    display: flex;   
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;

}

/*home pg*/
section#mission p:last-child{
    text-align: center;
    color:rgba(0, 114, 153, 1);
    font-weight: bold;
}
section{
    padding-left: 2.5%;
    padding-right: 2.5%;
}
section p{
    font-size: 16px;
    text-align: left;

}
section#funding{
    text-align: left;
    font-weight: lighter;
}
section#funding p:last-child, 
section#funding p:nth-last-child(2), 
section#funding p:nth-last-child(5){
    margin-top: 0px;
    font-weight: bold;
}
section#funding p:nth-last-child(2)
{
    margin-bottom: 0px;
}

h3, address{
    font-weight: lighter;
    color: black;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 0px;
}