html{
    overflow-x: hidden; /* Hides horizontal scrollbar if content is slightly too wide */
    /* aided with ensuring the body and header aligned with windows borders and
    there was a right-sided gap that revealed the underlying hear image.*/
}
body{
    display: flex;
    background-color: white;
    background-position: center center;
    flex-direction: column;
    background-image: url("/imgs/HeartofKYWebLogo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-wrap: wrap;
    transform:translate3d(0,0,0);
    background-attachment: fixed;
    box-sizing: border-box;
    /* width: 600px; */
        width: 100%; /* Default to full width */
    overflow-x: hidden; /* Hides horizontal scrollbar if content is slightly too wide */
    min-height: 100vh; /* Ensures the body is at least as tall as the window, but grows with content */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Essential for predictable sizing */
}

body *
{
    
    /* border:1px solid black;  */
}

.logo{
    display:none;
    opacity: 0%;
}

html{
    font-size: 16pt;
    font-family: sans-serif;
}
header{
    display: block;
    width: 100%;
    padding-bottom:200px;

}

h1.title{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 40pt;
    padding-top:200px;
}
h1{
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

nav{
    background-color: rgba(28, 28, 28, 1);
    display: flex;
    position: fixed;
    top:0px;
    text-align: right;
    width: 100%;
    justify-content: end;
}


/*
links for navigation bar are white
*/
nav a{
    color: white;
    text-decoration: none;
}


nav li{
    display: table;
    padding-left:16px;
    padding-right:10px;
}

ul{
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

aside{
    display: flex;
    padding-top:1.5rem;
    background-color: white;
    justify-content: center;
}

a.social:first-child{
    display: flex;
    background-color: #1877f2;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin:2px;
}

a.social:last-child{
    display: flex;
    background-color: #fe005c;;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin:2px;
}


main{
    display: flex;
    flex-direction: column;
    color:rgba(0, 114, 153, 1);
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    background-color: white;
    text-align: center;
    flex-wrap: wrap;
}



main *{
    
    text-align: center;
}

h2{
    color:rgbba(0, 114, 153, 1);
    text-align: center;
}
.note{
    text-align: center;
}

.imgdiv img{
    width: 300px;    
    height: auto; /* Maintains aspect ratio */

}
.imggroup.long{
    width: 300px;
}

.imgdiv
{
    /* background-color: red; */
    display: flex;
    
}

div.imgwrapper{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap:100px;
    max-width: 200%;
   

}
div.video iframe
{
    width: 300px;
    height: 400px;
}
div.imgdiv{
    display: flex;
    justify-content: center;

}
    

#dolly{
    gap:10px;
}

#imgwrapper
{
    background-color: aquamarine;
    

}

div.imgwrapper div.links ul 
{

    display: inline-block;
    text-decoration: none;
}

div li 
{   
    display: flex;
    text-decoration: none;
    padding-bottom:10px;
}

 #programs
{
    
    display: flex;
    flex-direction: column;

    gap:50px;
    text-align: left;
    background-color: aliceblue;


}
/* 
#ready4k{
    width:40%
}

#Dolly{
    width:40%
} */

.imggroup.short{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* background-color: maroon; */
    width: 500px;

}
#kids-and-parents
{
    
    display: table;
    
    gap:50px;
    text-align: center;
    /* background-color: wheat ; */
    
}



#kidAdventures{
    display: flex;
    
   
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;

}