body{
    display: table;
    background-color: white;
    background-position: center center;
    flex-direction: column;
    background-image: url("/imgs/HeartofKYWebLogo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
    transform:translate3d(0,0,0);
    background-attachment: fixed;

}

body *
{
    
    /* border:1px solid black;  */
}




/**/

.logo{
    display:none;
    opacity: 0%;
}

html{
    font-size: 16pt;
    font-family: sans-serif;
}
header{
    display: block;
    width: 100%;
    padding-bottom:200px;

}

h1.title{
    display: flex;
    /* padding-left: 48px;
    padding-right: 48px; */
    color: white;
    justify-content: center;
    font-size: 40pt;
    padding-top:200px;
}

nav{
    background-color: rgba(28, 28, 28, 1);

    display: flex;
    
    position: fixed;
    top:0px;
    text-align: right;
    /* background-color: transparent; */
    /* transition: background-color 1s linear; */
    transition: opacity .5s, padding-left .125s;
    /* background-image:linear-gradient(to bottom transparent 0%, black); */
    width: 100%;
    z-index: 20;
    justify-content: end;
    /* from{background-color: transparent;}
    to{background-color: black;} */

}

/* nav.scrolled{
    background-color: black;


    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
} */

li{
    display: table;
    padding-left:16px;
    padding-right:10px;
   
    

}
ul{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    
}
a{
    color:white;
    text-decoration: none;
}

aside{
    display: table;
    position: relative;
    table-layout: fixed;
    background-color: black;
    width: 100%;
    background-size: cover;/*doesnt do anything*/
}



main{
    background-color: white;

}


